<nav class="navbar mt-2" style="background-color: none;">
  <a class="navbar-brand" href="/garden">all my plants</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars hamburger"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex justify-content-end">
      <ul class="navbar-nav mt-2">
        <li class="nav-item">
          <a class="nav-link nav-own" href="/auth/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<h2>EDIT PLANT</h2>
<p>Common Name: {{myPlant.common_name}}</p>
<p>Scientific Name: {{myPlant.scientific_name}}</p>


<h4>Unselect all plant images you want to delete</h4>
<form action="/garden/editPlant/{{myPlant.id}}" method="post">

  {{#each myPlant.images}}
  <img height="250px" src="{{url}}" alt="">
  <label for="Unselect to delete">
    <h4>Unselect to delete this image: </h4>
  </label>
  <input type="checkbox" name="notToDelete" checked="checked" value={{url}} id="">
  <br>
  <br>
  {{/each}}

  {{!-- <label for="">Common Name:</label>
  <input type="text" name="common_name" value="{{myPlant.common_name}}"> --}}

  <label for="">Nickname:</label>
  <input type="text" name="nickname" value="{{myPlant.nickname}}">

  <label for="">Note:</label>
  <input type="text" name="note" value="{{myPlant.note}}">

  <br>
  <br>

  {{!-- <label for="">Water amount:</label>
  <input type="text" name="water" value="{{myPlant.water}}"> --}}

  <select name="water">
    <option>Only little water</option>
    <option>Average amount of water</option>
    <option>Big amount of water</option>
  </select>

  <select name="position">
    <option>Sun</option>
    <option>Shadow</option>
  </select>

  {{!-- <label for="">Optimal position:</label>
  <input type="text" name="position" value="{{myPlant.position}}"> --}}
  <br>
  <br>
  <button type="submit">Save all changes</button>
</form>

<br>
<br>

<form action="/garden/delete/{{myPlant.id}}" method="POST"><button type="submit">Delete plant</button></form>

<br>
<br>