<nav class="navbar mt-2" style="background-color: none;">
  <a class="navbar-brand" href="/garden">all my plants</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars hamburger"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex justify-content-end">
      <ul class="navbar-nav mt-2">
        <li class="nav-item">
          <a class="nav-link nav-own" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-own" href="/auth/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="main-container">

  <h1 class="align-flex-start">edit my plant</h1>

  <div class="garden-container">
    <a href="/garden" class="nav-back-link">&lt; my garden</a>
    <br>


{{!-- RUTA'S FORM --}}
    {{!-- <form class="justify-content-around form-update" action="/mentee-edit" method="POST" enctype="multipart/form-data">
      <div class="form-group row">
        <label for="Unselect to delete" class="col-form-label text-right">
          Update Your Profile Picture </label>
        <input type="text" name="nickname" value="{{myPlant.nickname}}" placeholder="does your plant have a nickname?">
      </div>
      <div class="form-group row">
        <label for="Unselect to delete" class="col-form-label text-right">
          Update </label>
        <input type="text" name="nickname" value="{{myPlant.nickname}}" placeholder="does your plant have a nickname?">
      </div>
    </form> --}}





    {{#if myPlant.nickname}}
    <h3>{{myPlant.nickname}}</h3>
    {{/if}}
    {{#unless myPlant.nickname}}
    <h2>{{myPlant.common_name}}</h2>
    {{/unless}}
    <br>

    <h4>Unselect the images you want to delete</h4>

    <form action="/garden/editPlant/{{myPlant.id}}" method="post" class="form form--no-padding">

      <div class="edit-img-container">
        {{#each myPlant.images}}
        <img class="edit-img-container__img" src="{{url}}" alt="">
        <label for="Unselect to delete">
        </label>
        <input type="checkbox" name="notToDelete" checked="checked" value={{url}} id="">
        {{/each}}
      </div>

      <div class="edit-list">
        <span class="plant-detail-list-title label">Name:</span>
        <br />
        <span class="capital">{{myPlant.common_name}}</span>
        <br />
        <label for="" class="plant-detail-list-title label">Nickname:</label>
        <br />
        <input type="text" class="edit-list__input blue-border" name="nickname" value="{{myPlant.nickname}}"
          placeholder="does your plant have a nickname?">
        <br />
        <label for="" class="plant-detail-list-title label">Note:</label>
        <br />
        <input type="text" name="note" id="note" class="edit-list__input blue-border" value="{{myPlant.note}}"
          placeholder="add your notes here"></input>
        <br />
        <label for="" class="edit-title label">Water amount:</label>
        <br />
        <select name="water" class="edit-list__select blue-border">
          <option value="">Please choose</option>
          {{#each waterOptions}}
          <option {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
          {{/each}}
        </select>
        <br />
        <label for="" class="edit-title label">Optimal position:</label>
        <br />
        <select name="position" class="edit-list__select margin-bottom-25 blue-border">
          <option value="">Please choose</option>
          {{#each positionOptions}}
          <option {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
          {{/each}}
        </select>

        <button type="submit" class="button button--shadow">Save changes</button>

      </div>

    </form>

    <form action="/garden/delete/{{myPlant.id}}" method="POST"><button type="submit"
        class="button button--delete button--shadow">Delete plant</button></form>

    <a href="/garden" class="text-left">&lt; my garden</a>
  </div>

</main>