<nav class="navbar mt-2" style="background-color: none;">
  <a class="navbar-brand" href="/garden">all my plants</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars hamburger"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex justify-content-end">
      <ul class="navbar-nav mt-2">
        <li class="nav-item">
          <a class="nav-link nav-own" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-own" href="/auth/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="main-garden">

  <h1>Edit your plant</h1>

  <div class="plant-detail-container">
    <a href="/garden" class="text-left">&lt; my garden</a>
    <br>

  {{#if myPlant.nickname}}
  <h3>{{myPlant.nickname}}</h3>
  {{/if}}
  {{#unless myPlant.nickname}}
  <h2>{{myPlant.common_name}}</h2>
  {{/unless}}
  <br>



    <h4>Unselect the images you want to delete</h4>

    <form action="/garden/editPlant/{{myPlant.id}}" method="post">

      <div class="edit-img-container">
        {{#each myPlant.images}}
        <img class="edit-img" src="{{url}}" alt="">
        <label for="Unselect to delete">
        </label>
        <input type="checkbox" name="notToDelete" checked="checked" value={{url}} id="">
        {{/each}}
      </div>


      <div class="edit-list ">
        <span class="plant-detail-list-title">Name:</span> {{myPlant.common_name}}
        <br />
        <label for="" class="plant-detail-list-title">Nickname:</label>

        <input type="text" class="input-border input-short"
          name="nickname" value="{{myPlant.nickname}}" placeholder="does your plant have a nickname?">
        <br />
        <label for="" class="plant-detail-list-title">Note:</label>
        <input type="text" class="input-border input-short" name="note" value="{{myPlant.note}}" placeholder="add your notes here">
        <br /> 
        <label for="" class="edit-title">Water amount:</label>
        <select name="water" class="input-border">
          <option disabled selected>{{myPlant.water}} {{#unless myPlant.water}}Please choose..{{/unless}}</option>
          <option>Only little water</option>
          <option>Average amount of water</option>
          <option>Big amount of water</option>
        </select>
        <br />
        <label for="" class="edit-title">Optimal position:</label>
        <select name="position" class="input-border">
          <option disabled selected>{{myPlant.position}}{{#unless myPlant.position}}Please choose..{{/unless}}</option>
          <option>Sun</option>
          <option>Shadow</option>
        </select>

        <button type="submit" class="save-changes addplant-btn-style btn-shadow edit-save-btn">Save changes</button>

      </div>


    </form>


    <form action="/garden/delete/{{myPlant.id}}" method="POST" class="align-self-center"><button type="submit"
        class="delete-btn-style btn-shadow">Delete plant</button></form>

    <a href="/garden" class="text-left">&lt; my garden</a>
  </div>

</main>