Welcome to your private garden, {{user.username}}! <a href="auth/logout">Log out</a>.

<h1>Your garden</h1>
<a href="garden/addPlant">Add a new plant</a>

<ul>
{{#each plantsList}}

<h4>{{this.common_name}}</h4>
<li>Scientific Name: {{this.scientific_name}}</li>
<li>Common Name: {{this.common_name}}</li>
<br>
<a href="garden/editPlant">Edit plant</a>
<br>
<br>
<form action="garden/delete/{{this.id}}" method="POST"><button type="submit">Delete plant</button>
</form>
<br>
{{/each}}
</ul>
