Welcome to your private garden, {{user.username}}! <a href="auth/logout">Log out</a>.

<h1>Your garden</h1>
<a href="garden/addPlant">Add a new plant</a>

<ul>
{{#each plantsList}}

<h3>{{this.common_name}}</h3>
<li><img height="250px" src="{{this.images.0.url}}" alt=""></li>
<li>Scientific Name: {{this.scientific_name}}</li>
<li>Common Name: {{this.common_name}}</li>
<li>Family Common Name: {{this.family_common_name}}</li>
<li>Nickname: {{this.nickname}}</li>
<li>Note: {{this.note}}</li>
<br>
<a href="garden/editPlant/{{this.id}}">Edit plant</a>
<br>

<br>
<form action="garden/delete/{{this.id}}" method="POST"><button type="submit">Delete plant</button>
</form>
<br>
{{/each}}
</ul>
