<nav class="navbar mt-2" style="background-color: none;">
  <a class="navbar-brand" href="/garden">all my plants</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars hamburger"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex justify-content-end">
      <ul class="navbar-nav mt-2">
        <li class="nav-item">
          <a class="nav-link nav-own" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-own" href="/auth/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<main class="main-garden">

  <h1>my garden</h1>

  {{#unless plantsList}}
  <main class="garden-container-centeredtext">
    <p>
      Your garden is empty, {{user.name}}!<br />
      But not for very long...
    </p>
      <a href="garden/addPlant" class="addplant-btn-style btn-shadow">Add your first plant</a>
  </main>
  {{/unless}}

  {{#if plantsList}}

  <div class="garden-container">
    <ul class="garden-img-container">
      {{#each plantsList}}
      <li>
        <a href="garden/plantDetails/{{this.id}}"><img class="garden-img" src="{{this.images.0.url}}"
            alt=""></a>
        {{#if this.nickname}}
        <div class="garden-plantname">
          <a href="garden/plantDetails/{{this.id}}">{{this.nickname}}</a>
        </div>
        {{/if}}
        {{#unless this.nickname}}
        <div class="garden-plantname">
          <a href="garden/plantDetails/{{this.id}}">{{this.common_name}}</a>
        </div>
        {{/unless}}
      </li>
      <br>
      {{!-- <form action="garden/delete/{{this.id}}" method="POST"><button type="submit">Delete plant</button> </form> --}}
      {{/each}}
    </ul>

    <a href="garden/addPlant" class="addplant-btn-style btn-shadow">Add another plant</a>

  </div>
  {{/if}}



</main>