<nav class="navbar fixed-top navbar-dark mt-2" style="background-color: none;">
  <a class="navbar-brand logo" href="/garden">all my plants</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars hamburger"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex justify-content-end">
      <ul class="navbar-nav mt-2">
        <li class="nav-item">
          <a class="nav-link nav-own" href="/auth/logout">Log out</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<main class="main-garden">

  <h1>my garden</h1>

  <p> what a wonderful garden, {{user.name}}! </p>
  <a href="garden/addPlant">Add a new plant</a>

<div class="garden-container">
    <ul>
      {{#each plantsList}}
      <li>
        <a href="garden/plantDetails/{{this.id}}"><img height="250px" class="garden-img" src="{{this.images.0.url}}" alt=""></a>
        <a href="garden/plantDetails/{{this.id}}"><h3>{{this.common_name}}</h3></a>
      </li>
      <br>
      {{!-- <form action="garden/delete/{{this.id}}" method="POST"><button type="submit">Delete plant</button> </form> --}}
      {{/each}}
    </ul>
</div>

</main>