<nav class="navbar fixed-top mt-2" style="background-color: none;">
  <a class="navbar-brand" href="/garden">all my plants</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars hamburger"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex justify-content-end">
      <ul class="navbar-nav mt-2">
        <li class="nav-item">
          <a class="nav-link nav-own" href="/auth/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<main class="main-garden">

  <h1>my garden</h1>

  {{#unless plantsList}}
  <main class="form-container">
    <p class="verify">
      Your garden is empty, {{user.name}}!
      <br />
      Why don't you <a href="garden/addPlant">add your first plant?</a> :)
    </p>
  </main>
  {{/unless}}

  {{#if plantsList}}
  <a href="garden/addPlant">Add a new plant</a>

  <div class="garden-container">
    <ul>
      {{#each plantsList}}
      <li>
        <a href="garden/plantDetails/{{this.id}}"><img height="250px" class="garden-img" src="{{this.images.0.url}}"
            alt=""></a>
        {{#if this.nickname}}
          <a href="garden/plantDetails/{{this.id}}"><h3>{{this.nickname}}</h3></a>
        {{/if}}
        {{#unless this.nickname}}
          <a href="garden/plantDetails/{{this.id}}"><h3>{{this.common_name}}</h3></a>
        {{/unless}}
      </li>
      <br>
      {{!-- <form action="garden/delete/{{this.id}}" method="POST"><button type="submit">Delete plant</button> </form> --}}
      {{/each}}
    </ul>
  </div>
  {{/if}}

</main>