<nav class="navbar fixed-top mt-2" style="background-color: none;">
  <a class="navbar-brand" href="/garden">all my plants</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars hamburger"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex justify-content-end">
      <ul class="navbar-nav mt-2">
        <li class="nav-item">
          {{!-- <form action="/garden/delete/{{myPlant.id}}" method="POST"><button type="submit" class="nav-link nav-own">Delete plant</button></form> --}}
          <a class="nav-link nav-own" href="/garden/delete/{{myPlant.id}}">Delete plant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-own" href="/auth/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h3>{{myPlant.common_name}}</h3>
{{!-- <li><img height="250px" src="{{myPlant.images.0.url}}" alt=""></li> --}}
{{#each myPlant.images}}
<img height="250px" src="{{url}}" alt="">
{{/each}}
<br>
<br>

<h4>Upload you own image</h4>
<form action="/garden/plantDetails/uploadImage/{{myPlant.id}}" method="post" enctype="multipart/form-data">
<input type="file" name="user-image" id="" required="true">
<button type="submit">Upload Image</button>
</form>
<br>

<li>Scientific Name: {{myPlant.scientific_name}}</li>
<li>Common Name: {{myPlant.common_name}}</li>
<li>Family Common Name: {{myPlant.family_common_name}}</li>
<li>Nickname: {{myPlant.nickname}}</li>
<li>Note: {{myPlant.note}}</li>
<li>Water amount: {{myPlant.water}}</li>
<li>Optimal position: {{myPlant.position}}</li>

<br>



<form action="/garden/delete/{{myPlant.id}}" method="POST"><button type="submit">Delete plant</button></form>

 
<a href="/garden/editPlant/{{myPlant.id}}">Edit plant</a>
<br> 
<a href="/garden">Go back to your garden</a>
