<nav class="navbar mt-2" style="background-color: none;">
  <a class="navbar-brand" href="/garden">all my plants</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars hamburger"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex justify-content-end">
      <ul class="navbar-nav mt-2">
        <li class="nav-item">
          <a class="nav-link nav-own" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-own" href="/auth/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="plant-detail-container">

  {{#if myPlant.nickname}}
  <h3>{{myPlant.nickname}}</h3>
  {{/if}}
  {{#unless myPlant.nickname}}
  <h3>{{myPlant.common_name}}</h3>
  {{/unless}}
  {{!-- <li><img height="250px" src="{{myPlant.images.0.url}}" alt=""></li> --}}
  <div class="plant-detail-img-container">

    {{#each myPlant.images}}
    <img class="plant-detail-img" height="250px" src="{{url}}" alt="">
    {{/each}}


  
  </div>
  <br>
  <br>

  <div class="table-responsive">
    <table class="table table-hover">
      <tbody>
        <tr>
          <td class="tabletitle">Common Name: </td>
          <td>{{myPlant.common_name}}</td>
        </tr>
        <tr>
          <td class="tabletitle">Scientific Name: </td>
          <td>{{myPlant.scientific_name}}</td>
        </tr>
        <tr>
          <td class="tabletitle">Common Family Name: </td>
          <td>{{myPlant.family_common_name}}</td>
        </tr>
        <tr>
          <td class="tabletitle">Nickname: </td>
          <td>{{myPlant.nickname}}</td>
        </tr>
        <tr>
          <td class="tabletitle">Note: </td>
          <td>{{myPlant.note}}</td>
        </tr>
        <tr>
          <td class="tabletitle">Water amount: </td>
          <td id="water">{{myPlant.water}}</td>
        </tr>
        <tr>
          <td class="tabletitle">Optimal position: </td>
          <td id="position">{{myPlant.position}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="plant-detail-upload-container">
    <h4>Upload your own image</h4>
    <br />
    <form action="/garden/plantDetails/uploadImage/{{myPlant.id}}" method="post" enctype="multipart/form-data"
      class="upload-photo-form">
      <input type="file" name="user-image" id="" required="true">
      <button type="submit" class="uploadimg-btn-style btn-shadow">Upload Image</button>
    </form>
    <br>
  </div>

  {{!-- <div class="plant-detail-btn-container"> --}}
  <a href="/garden/editPlant/{{myPlant.id}}" class="addplant-btn-style btn-shadow">Edit plant</a>
  <form action="/garden/delete/{{myPlant.id}}" method="POST" class="align-self-center"><button type="submit"
      class="delete-btn-style btn-shadow">Delete plant</button></form>
  {{!-- </div> --}}

  <a href="/garden">Back to my garden</a>

</main>